<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>
      <%- page.title %>
    </title>
  </head>

  <body>
    <section class="posts">
      <% page.posts.each(function (post) { %>
        <article class="post">
          <div class="post-title">
            <a class="post-title-link" href="<%- url_for(post.path) %>">
              <%= post.title %>
            </a>
          </div>
          <div class="post-content">
            <%- strip_html(post.excerpt) %>
          </div>
          <div class="post-meta">
            <span class="post-time">
              <%- date(post.date, "YYYY-MM-DD") %>
            </span>
          </div>
        </article>
      <% }) %>
    </section>
  </body>

</html>
