<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>
    <%- page.title %>
  </title>
</head>

<body>
  <section class="posts">
    <% page.posts.each(function (post) { %>
      <a class="post" href="<%- url_for(post.path) %>">
        <div class="post-title">
          <%- post.title %>
        </div>
        <div class="post-content">
          <%- strip_html(post.excerpt) %>
        </div>
        <div class="post-meta">
          <span class="disqus-comment-count" data-disqus-identifier="<%- post.uuid %>"></span>
          <span class="post-time">
            <%- date(post.date, "YYYY-MM-DD HH:mm") %>
          </span>
        </div>
      </a>
      <% }) %>
  </section>

  <% if (page.total > 1) { %>
    <!-- Index nav -->
    <nav class="paginator-wrap">
      <%- paginator({
        prev_text: __('<div class="paginator-item"><i class="fa fa-angle-left"></i></div>'),
        next_text: __('<div class="paginator-item"><i class="fa fa-angle-right"></i></div>'),
        space: ''
      }) %>
    </nav>
    <% } %>
</body>

</html>