<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

  <body class="fixed">
    <div class="container">
      <%- partial('_partial/header') %>
        <main class="main">
          <%- body %>
        </main>
        <a href="#" class="goto-top">
          <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <%- partial('_partial/footer') %>

      <script>
      function footerHandler () {
        if (!window.screen || !document.body) return
        var hasComments = document.querySelector('.comments')
        if ((window.screen.availHeight - (hasComments ? 350 : 0)) > document.body.clientHeight) {
          document.body.classList.add('fixed')
        } else {
          document.body.classList.remove('fixed')
        }
      }
      footerHandler()
      window.addEventListener('resize', footerHandler)
    </script>
  </body>
  <script>
    var pathname = new URL(location.href).pathname.replace(/\/$/, '')

    switch (pathname) {
      case '/about':
        document.querySelector('.menu-item-about').classList.add('active')
        break
      case '/contact':
        document.querySelector('.menu-item-contact').classList.add('active')
        break
      case '/links':
        document.querySelector('.menu-item-friends').classList.add('active')
        break
      default:
        document.querySelector('.menu-item-home').classList.add('active')
    }
  </script>
  <% if(config.baidu_tongji) { %>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?<%- config.baidu_tongji %>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <% } %>

</html>