<% if (toc(page.content).length > 1) { %>
  <input type="checkbox" id="toggle-toc" />
  <div class="toc-wrap">
    <%- toc(page.content) %>
  </div>
  <div class="toc-toggle">
    <label for="toggle-toc">
      <i class="fa fa-eye"></i>
      <i class="fa fa-eye-slash"></i>
    </label>
  </div>
  <label class="mask" for="toggle-toc"></label>
<% } %>
<div id="post-content">
  <h1><%- page.title %></h1>
  <%- page.content %>
</div>
<% if (config.disqus_shortname){ %>
<section class="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>
<script>
  window.addEventListener('load', function () {
    [].concat(Array.from(document.querySelectorAll('code')), Array.from(document.querySelectorAll('pre'))).filter(function (item) {return item.className.indexOf('language') >= 0}).forEach(function (tag) { tag.classList.add('line-numbers') })
    Prism.highlightAll()
  })
</script>
