<footer class="footer">
  <div class="outer">
    <div class="footer-info" class="inner">
      <p class="copyright">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br></p>
      <%= __('powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      <%= __('theme by') %> <a href="https://github.com/Jiasm/hexo-theme-sheet" target="_blank">Sheet</a>
    </div>
  </div>
</footer>
<% if(config.disqus_shortname) { %>
  <!-- 使用 DISQUS js 代码 -->
  <script id="dsq-count-scr" src="//<%= config.disqus_shortname %>.disqus.com/count.js" async="async"></script>
<% } %>
